<zj-echarts-dev [chartType]="id">


    <form nz-form [formGroup]="myForm" novalidate zj-echarts-dev-content>

        <div formGroupName="innerForm">
            <div nz-form-item nz-row>
                <div nz-row style="font-size:20px; font-weight:bold ;margin-left: 10px;height: 35px ">图表组件基本信息：
                </div>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'service'" nz-form-item-required>服务</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-select [nzSize]="'large'"
                               nzPlaceHolder=""
                               nzAllowClear
                               required
                               (ngModelChange)="selectService($event)"
                               formControlName="service">
                        <nz-option *ngFor="let s of availableServices" [nzLabel]="s.serviceName"
                                   [nzValue]="s"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label nz-form-item-required>维度字段</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-select [nzSize]="'large'" name="dimensionRows" [nzMode]="'multiple'"
                               nzPlaceHolder=""
                               nzAllowClear
                               required
                               formControlName="dimensionRows">
                        <nz-option *ngFor="let f of availableFields" [nzLabel]="f.name"
                                   [nzValue]="f.name"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label [attr.for]="'measureRows'" nz-form-item-required>度量字段</label>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-select name="measureRows" [nzMode]="'multiple'"
                               nzPlaceHolder=""
                               nzAllowClear
                               required
                               formControlName="measureRows">
                        <nz-option *ngFor="let option of availableFields" [nzLabel]="option.name"
                                   [nzValue]="option.name"></nz-option>
                    </nz-select>
                </div>
            </div>
            <!-- 动态创建表单 -->

            <div nz-form-item nz-row *ngFor="let d of requestFields">
                <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <div *ngIf="d.require === 1">
                        <label [attr.for]="'measureRows'" nz-form-item-required> {{d.means}}</label>
                    </div>
                    <div *ngIf="d.require != 1">
                        <label [attr.for]="'measureRows'"> {{d.means}}</label>
                    </div>
                </div>
                <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <nz-input [nzSize]="'large'" [formControlName]="d.name" [nzId]="d.name"
                              [required]="d.require === 1"></nz-input>
                </div>
            </div>

            <div nz-form-item nz-row style="margin-bottom:8px;">
                <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzSize]="'large'" [nzType]="'primary'"
                            [disabled]="myForm.controls.innerForm.invalid"
                            (click)="getJsonData()">
                        获取Json
                    </button>
                </div>
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label [attr.for]="'name'" nz-form-item-required>组件名称</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                <nz-input [nzSize]="'large'" formControlName="name" required></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
                <label nz-form-item-required>组件主题</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
                <nz-select [nzSize]="'large'" nzPlaceHolder="" required
                           formControlName="subject">
                    <nz-option [nzLabel]="'综合分析'" [nzValue]="'0'"></nz-option>
                    <nz-option [nzLabel]="'交易分析'" [nzValue]="'1'"></nz-option>
                    <nz-option [nzLabel]="'故障分析'" [nzValue]="'2'"></nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
                <label nz-form-item-required>组件图标</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
                <nz-select [nzSize]="'large'" nzPlaceHolder="" required
                           formControlName="icon">

                    <nz-option [nzLabel]="'area-chart'" [nzValue]="'anticon-area-chart'">
                        <ng-template #nzOptionTemplate>
                            <i class="anticon anticon-area-chart"></i> 折线图
                        </ng-template>
                    </nz-option>
                    <nz-option [nzLabel]="'pie-chart'" [nzValue]="'anticon-pie-chart'">
                        <ng-template #nzOptionTemplate>
                            <i class="anticon anticon-pie-chart"></i> 饼图
                        </ng-template>
                    </nz-option>
                    <nz-option [nzLabel]="'bar-chart'" [nzValue]="'anticon-bar-chart'">
                        <ng-template #nzOptionTemplate>
                            <i class="anticon anticon-bar-chart"></i> 柱状图
                        </ng-template>
                    </nz-option>
                    <nz-option [nzLabel]="'dot-chart'" [nzValue]="'anticon-dot-chart'">
                        <ng-template #nzOptionTemplate>
                            <i class="anticon anticon-dot-chart"></i> 散点图
                        </ng-template>
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="6">
                <label nz-form-item-required>组件描述</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
                <nz-input [nzSize]="'large'" required
                          formControlName="describe"></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row style="margin-bottom:8px;">
            <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                <button nz-button [nzSize]="'large'" [nzType]="'primary'"
                        (click)="save()"
                        style="width: 40%;">保存
                </button>
            </div>
        </div>
    </form>

</zj-echarts-dev>
