<split>
    <split-area>
        <form nz-form #form="ngForm">
            <div nz-row class="dev-charts-fieldset">
                <div nz-row>
                    <div nz-form-label nz-col>
                        <span style="font-size:medium;">模块命名</span>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6" [nzOffset]="4">
                        <label
                            style="font-size: 13px;font-weight: bold;">查询名称</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="6">
                        <nz-input [nzSize]="'large'" [(ngModel)]="formModel['queryName']"
                                  [nzId]="'queryName'"
                                  name="queryName"
                                  (click)="queryNameErro=false" required></nz-input>
                    </div>
                    <div *ngIf="queryNameErro" style="color: red;">未添加，请添加查询名称!</div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="6" [nzOffset]="4">
                        <label nz-form-item-required style="font-size: 13px;font-weight: bold;">分组名称</label>
                    </div>
                    <div nz-form-control nz-col [nzSpan]="6">
                        <nz-select [(ngModel)]="formModel['groupName']" [nzSize]="'large'" name="groupName"
                                   (click)="groupNameErro=false" required [nzPlaceHolder]="'--请选择分组名称--'">
                            <nz-option *ngFor="let group of groupList" [nzLabel]="group.groupname"
                                       [nzValue]="group.groupname"></nz-option>
                        </nz-select>
                    </div>
                    <div *ngIf="groupNameErro" style="color: red;">未添加，请添加分组名称!</div>
                </div>
            </div>
            <br/>
            <div nz-row class="dev-charts-fieldset">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <span style="margin-top: 1px;width: 30%;font-size: medium;">数据服务请求</span>
                    </div>
                </div>
                <div nz-row>
                    <div nz-form-control nz-col [nzSpan]="10" [nzOffset]="6">
                        <nz-select [(ngModel)]="formModel['service']" [nzSize]="'large'" name="service"
                                   (ngModelChange)="serviceChange($event)" required
                                   [nzPlaceHolder]="'--请选择数据服务--'">
                            <nz-option *ngFor="let service of serviceList" [nzLabel]="service.serviceName"
                                       [nzValue]="service"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <br/>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <span style="margin-top: 1px;width: 30%;font-size: medium;">数据服务字段</span>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="24">
                        <ag-grid-angular #agGrid style="width: 100%; height:349px;" class="ag-fresh"
                                         [gridOptions]="fieldGridOptions"
                                         [columnDefs]="columnDefsFiled"
                                         [rowSelection]="rowSelection"
                                         [rowMultiSelectWithClick]="true"
                                         (selectionChanged)="onSelectionChanged()"
                                         (rowSelected)="onRowSelected($event)"
                                         (rowDataChanged)="onRowChange($event)"
                                         [rowData]="rowDataField"
                        >
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
            <br/>
            <div nz-form-item nz-row style="text-align: center;" *ngIf="selectedRows.length>0">
                <button nz-button [nzType]="'primary'" (click)="save()">保存</button>
                <button nz-button [nzType]="'primary'" (click)="preview()">预览</button>
                <button nz-button [nzType]="'primary'" (click)="exportTo()">导出</button>
            </div>
        </form>
    </split-area>
    <split-area>
        <ag-grid-angular style="width: 100%;height:100%;"
                         class="ag-fresh"
                         [gridOptions]="resultOptions"
                         enableColResize
                         floatingFilter
                         [columnDefs]="columnDefs"
                         [rowData]="rowData">
        </ag-grid-angular>
    </split-area>
</split>
