<div class="screen-wrapper" *ngIf="splitConf">
    <div class="screen-container">
        <split direction="horizontal" [disabled]="splitConf.disabled" gutterColor="transparent"
               (dragEnd)="onDragEnd(-1, $event)">
            <split-area [size]="splitConf.lColumn.size" class="screen-left">
                <split direction="vertical" [disabled]="splitConf.disabled" gutterColor="transparent"
                       (dragEnd)="onDragEnd(1, $event)">
                    <split-area *ngFor="let row of splitConf.lColumn.rows;index as i;trackBy: trackByFn;"
                                [size]="row.size">
                        <div class="card">
                            <ng-container
                                *ngComponentOutlet="row.comp.component;injector:row.comp.injector;ngModuleFactory: myModule;">
                            </ng-container>
                        </div>
                    </split-area>
                </split>
            </split-area>
            <split-area [size]="splitConf.cColumn.size">
                <split direction="vertical"
                       [disabled]="splitConf.disabled"
                       gutterColor="transparent"
                       (dragEnd)="onDragEnd(2, $event)">
                    <split-area [size]="splitConf.cColumn.rows[0].size">
                        <div class="center-top">
                            <div class="card" *ngFor="let row of splitConf.cColumn.rows.slice(0,3);index as i;trackBy: trackByFn;">
                                <ng-container *ngComponentOutlet="row.comp.component;
                                                injector:row.comp.injector;
                                                ngModuleFactory: myModule;">
                                </ng-container>
                                <div class="separator-bar"></div>
                            </div>
                        </div>
                    </split-area>
                    <split-area [size]="splitConf.cColumn.rows[2].size">
                        <div class="card">
                            <ng-container
                                *ngComponentOutlet="splitConf.cColumn.rows[2].comp.component;
                                injector:splitConf.cColumn.rows[2].comp.injector;
                                ngModuleFactory: myModule;">
                            </ng-container>
                        </div>
                    </split-area>
                </split>
            </split-area>
            <split-area [size]="splitConf.rColumn.size">
                <split direction="vertical" [disabled]="splitConf.disabled" gutterColor="transparent"
                       (dragEnd)="onDragEnd(3, $event)">
                    <split-area [size]="row.size"
                                *ngFor="let row of splitConf.rColumn.rows;index as i;trackBy: trackByFn;">
                        <div class="screen-right">
                            <div class="card">
                                <ng-container *ngComponentOutlet="row.comp.component;
                                        injector:row.comp.injector;ngModuleFactory: myModule;">
                                </ng-container>
                                <div class="overlay" *ngIf="setting">
                                </div>
                            </div>
                        </div>
                    </split-area>
                </split>
            </split-area>
        </split>
    </div>
</div>
<div class="mask" *ngIf="openSetting === true || !splitConf">
    <nz-spin [nzSize]="'large'"></nz-spin>
</div>
