<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="21">
        <div nz-row *ngFor="let chart of charts;">
            <div style="font-size: 24px;font-weight: 500;margin-bottom: 5px;margin-top: 20px;">
                <a name="{{chart.name}}">{{chart.name}}</a>
            </div>
            <div nz-col [nzSpan]="6" *ngFor="let item of chart.lists;">
                <nz-card style="width:200px;height: 200px;" (click)="select(item)">
                    <ng-template #body>
                        <p style="font-size: 20px;">{{item.name}}</p>
                        <img src="{{item.img}}" style="height: 160px;width: 196px;">
                    </ng-template>
                </nz-card>
            </div>
        </div>
    </div>
</div>
